[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
faker = "*"
numpy = "*"
matplotlib = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.13"
