[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-spectacular = "*"
python-dotenv = "*"
django = "*"
djangorestframework = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
requests = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.13"
